ai-news-briefing.json
{
  "name": "NewsAPI - AI Daily Briefing V1.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "fe8cebec-3bbe-404b-b53d-fe9bcb34d421",
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "artificial intelligence OR AI models OR machine learning OR GPT OR Claude OR MCP"
            },
            {
              "name": "from",
              "value": "={{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "pageSize",
              "value": "50"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 3
            }
          },
          "timeout": 30000
        }
      },
      "id": "40eb7d55-f359-41b5-8150-296bc588804a",
      "name": "NewsAPI: AI Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://gnews.io/api/v4/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI technology OR GPT OR Claude OR MCP OR artificial intelligence"
            },
            {
              "name": "lang",
              "value": "en"
            },
            {
              "name": "country",
              "value": "us"
            },
            {
              "name": "max",
              "value": "50"
            },
            {
              "name": "from",
              "value": "={{ $now.minus({days: 1}).toISO() }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a11fc9b2-7d9f-49b5-b9e6-43006491494c",
      "name": "GNewsAPI: AI Tech",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        192
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "cfdbb2d0-975a-4159-9315-4f1ac0697310",
      "name": "Merge All News Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        224,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter and normalize articles from all sources\nconst items = $input.all();\nconst now = new Date();\nconst oneDayAgo = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\nconst processedArticles = [];\nconst seenUrls = new Set();\n\nfor (const item of items) {\n  let article = {};\n  \n  // Handle NewsAPI response format\n  if (item.json.articles && Array.isArray(item.json.articles)) {\n    for (const art of item.json.articles) {\n      if (!art.url || seenUrls.has(art.url)) continue;\n      \n      const pubDate = new Date(art.publishedAt);\n      if (pubDate < oneDayAgo) continue;\n      \n      seenUrls.add(art.url);\n      processedArticles.push({\n        title: art.title || 'No title',\n        description: art.description || art.content || 'No description',\n        url: art.url,\n        source: art.source?.name || 'NewsAPI',\n        publishedAt: art.publishedAt,\n        author: art.author || 'Unknown',\n        urlToImage: art.urlToImage || null,\n        engagement: 0\n      });\n    }\n  }\n  // Handle GNews response format\n  else if (item.json.articles && Array.isArray(item.json.articles)) {\n    for (const art of item.json.articles) {\n      if (!art.url || seenUrls.has(art.url)) continue;\n      \n      const pubDate = new Date(art.publishedAt);\n      if (pubDate < oneDayAgo) continue;\n      \n      seenUrls.add(art.url);\n      processedArticles.push({\n        title: art.title || 'No title',\n        description: art.description || art.content || 'No description',\n        url: art.url,\n        source: art.source?.name || 'GNews',\n        publishedAt: art.publishedAt,\n        author: art.author || 'Unknown',\n        urlToImage: art.image || null,\n        engagement: 0\n      });\n    }\n  }\n}\n\n// Estimate engagement based on title keywords and source\nconst highEngagementKeywords = [\n  'breakthrough', 'revolutionary', 'announces', 'releases', 'launches', \n  'gpt', 'claude', 'gemini', 'openai', 'anthropic', 'google', 'microsoft',\n  'mcp', 'api', 'model', 'new version'\n];\n\nfor (const article of processedArticles) {\n  let score = 0;\n  const titleLower = article.title.toLowerCase();\n  \n  // Check for high-engagement keywords\n  for (const keyword of highEngagementKeywords) {\n    if (titleLower.includes(keyword)) score += 10;\n  }\n  \n  // Boost for reputable sources\n  const reputableSources = ['techcrunch', 'wired', 'the verge', 'ars technica', 'reuters', 'bloomberg'];\n  if (reputableSources.some(s => article.source.toLowerCase().includes(s))) {\n    score += 15;\n  }\n  \n  article.engagement = score;\n}\n\nreturn processedArticles.map(article => ({ json: article }));"
      },
      "id": "df123b50-b7bd-4ec6-8b9d-6569e5b0972c",
      "name": "Filter & Normalize Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sort by engagement score (popularity proxy)\nconst items = $input.all();\n\nconst sorted = items.sort((a, b) => {\n  return (b.json.engagement || 0) - (a.json.engagement || 0);\n});\n\n// Take top 10 most popular\nconst topPopular = sorted.slice(0, 10).map(item => ({\n  json: {\n    ...item.json,\n    category: 'popular'\n  }\n}));\n\nreturn topPopular;"
      },
      "id": "b55ac037-1819-453a-97d4-11c9902016a6",
      "name": "Top 10 Popular Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sort by publication date (newest first)\nconst items = $input.all();\n\nconst sorted = items.sort((a, b) => {\n  const dateA = new Date(a.json.publishedAt);\n  const dateB = new Date(b.json.publishedAt);\n  return dateB - dateA;\n});\n\n// Take top 10 newest\nconst topNewest = sorted.slice(0, 10).map(item => ({\n  json: {\n    ...item.json,\n    category: 'newest'\n  }\n}));\n\nreturn topNewest;"
      },
      "id": "6d2091e1-cea1-42f8-91c3-7ee8df8faa76",
      "name": "Top 10 Newest Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        208
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "fc7a01f4-771f-44eb-8346-7533daa2fba2",
      "name": "Merge Popular + Newest",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "articles-summary",
              "name": "allArticles",
              "type": "string",
              "value": "={{ JSON.stringify($input.all().map(item => item.json)) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "225e9eed-f139-458a-a658-2d72fa9012f4",
      "name": "Prepare for AI Agent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze these AI news articles and create a comprehensive daily briefing:\n\n{{ $json.allArticles }}\n\nProvide your response in the following format:\n\n📊 EXECUTIVE SUMMARY\n[2-3 sentences summarizing overall AI landscape]\n\n🔥 TOP TRENDING STORIES\n[For each of top 5 popular articles: Title, Source, 2-3 sentence summary, URL]\n\n📰 LATEST DEVELOPMENTS\n[For each of top 5 newest articles: Title, Source, 1-2 sentence summary, URL]\n\n🔑 KEY INSIGHTS\n[3-5 actionable bullet points]\n\n🏷️ TOPICS COVERED\n[Hashtags of main topics]",
        "options": {
          "systemMessage": "You are an expert AI news analyst specializing in tracking developments in artificial intelligence, machine learning, and AI tools.\n\nYour task is to analyze a collection of AI-related news articles and create a comprehensive daily briefing.\n\n## Analysis Guidelines\n- Focus on practical implications and technical details\n- Highlight new model releases, MCP developments, API changes, industry shifts\n- Be concise but informative\n- Use professional technical tone\n- Include relevant metrics/numbers when available\n\n## Output Requirements\n- Executive summary: 2-3 sentences capturing overall trends\n- Top stories: Detailed 2-3 sentence summaries with context\n- Latest developments: Brief 1-2 sentence updates\n- Key insights: 3-5 actionable bullet points\n- Topics: Hashtags for main themes\n\n## Important\n- Always include article URLs\n- Separate popular articles from newest articles\n- Focus on accuracy over hype"
        }
      },
      "id": "5252100f-8e4c-479f-9a4e-4ec1561bb08d",
      "name": "AI Agent: Summarize News",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1328,
        112
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "id": "156ac874-62b7-4ede-be68-75c0c3cc37b9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": {
          "blocksValues": [
            {
              "type": "section",
              "section": {
                "text": "={{ $json.output }}"
              }
            }
          ]
        },
        "otherOptions": {
          "mrkdwn": true,
          "unfurl_links": true,
          "unfurl_media": false
        }
      },
      "id": "30f8fd5c-d800-42e7-8226-6a231459c2cf",
      "name": "Slack: Post Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1728,
        96
      ],
      "webhookId": "57941ddb-97e7-4b5a-b5f5-67735216525b",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "277be578-69f6-4644-8099-354b3fb675c1",
      "name": "Outlook: Send Summary",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2.1,
      "position": [
        1616,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1664,
        -112
      ],
      "id": "b9c47f22-9698-4a2c-b6b4-02e48feeca7c",
      "name": "LinkedIn: Publish Post"
    },
    {
      "id": "aa1b2c3d-4e5f-4a6b-8c9d-0e1f2a3b4c5d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-244, -108],
      "parameters": {
        "content": "## 1. Trigger\n\nRuns daily at 9 AM via cron. Fires both news source fetches in parallel — if one source fails, the other continues (onError: continueRegularOutput).",
        "height": 180,
        "width": 300,
        "color": 4
      }
    },
    {
      "id": "bb2c3d4e-5f6a-4b7c-9d0e-1f2a3b4c5d6e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-20, -200],
      "parameters": {
        "content": "## 2. Data Collection\n\nFetches up to 50 articles from NewsAPI and GNews in parallel. Both use HTTP Header Auth credentials — API key must NOT be inline. Merged before processing.",
        "height": 180,
        "width": 380,
        "color": 4
      }
    },
    {
      "id": "cc3d4e5f-6a7b-4c8d-0e1f-2a3b4c5d6e7f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [428, -108],
      "parameters": {
        "content": "## 3. Filter & Rank\n\nDeduplicates by URL, drops articles older than 24h, scores by keyword relevance and source reputation. Splits into two ranked lists: top 10 by engagement score, top 10 by recency.",
        "height": 180,
        "width": 380,
        "color": 4
      }
    },
    {
      "id": "dd4e5f6a-7b8c-4d9e-1f2a-3b4c5d6e7f8a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1084, -108],
      "parameters": {
        "content": "## 4. AI Summarization\n\nGPT-4o-mini produces a structured briefing: executive summary, top 5 trending, top 5 newest, key insights, and topic hashtags. Prompt tuned for technical AI audience.",
        "height": 180,
        "width": 380,
        "color": 4
      }
    },
    {
      "id": "ee5f6a7b-8c9d-4e0f-2a3b-4c5d6e7f8a9b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1596, -300],
      "parameters": {
        "content": "## 5. Distribution\n\nThree output channels: Slack (working), Outlook email (incomplete — parameters empty), LinkedIn post (incomplete — no content wired). Wire up or remove before activating.",
        "height": 180,
        "width": 380,
        "color": 1
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "NewsAPI: AI Articles",
            "type": "main",
            "index": 0
          },
          {
            "node": "GNewsAPI: AI Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsAPI: AI Articles": {
      "main": [
        [
          {
            "node": "Merge All News Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GNewsAPI: AI Tech": {
      "main": [
        [
          {
            "node": "Merge All News Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All News Sources": {
      "main": [
        [
          {
            "node": "Filter & Normalize Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Normalize Articles": {
      "main": [
        [
          {
            "node": "Top 10 Popular Articles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Top 10 Newest Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 10 Popular Articles": {
      "main": [
        [
          {
            "node": "Merge Popular + Newest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 10 Newest Articles": {
      "main": [
        [
          {
            "node": "Merge Popular + Newest",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Popular + Newest": {
      "main": [
        [
          {
            "node": "Prepare for AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent: Summarize News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Summarize News": {
      "main": [
        [
          {
            "node": "LinkedIn: Publish Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Summarize News",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn: Publish Post": {
      "main": [
        [
          {
            "node": "Slack: Post Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5fbbe61a-887f-466b-87eb-256bcd85469d",
  "meta": {
    "instanceId": "956b0642caa17694415befab574421a5ea4e33d80484849229d4837d84bb9058"
  },
  "id": "igx2BKsWR5z3VS92",
  "tags": []
}
